:root {
    --background-color: #606060;
    --text-color: white;
    --option-color: #0BA979;
    --option-hover-color: #155040;
    --option-correct: green;
    --option-incorrect: red;
    --button-text-color: black;
    --button-color: lightgray;
    --button-hover-color: #b0b0b0;
    --strikethrough-color: gray;
    --footer-color: #555555;
    --settings-window-color: lightblue;
    --settings-text-color: black;
    --tooltip-background: black;
    --tooltip-text: white;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[type=number] {
    width: 3em;
}

.multiple-choice {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(64px, max-content));
    justify-content: center;
    column-gap: 10px;
    row-gap: 10px;
    min-height: 64px;
    margin-top: 10px;
}

.quiz-option {
    width: 64px;
    height: 64px;
    border-radius: 10px;
    background-color:var(--option-color);
}

.quiz-option-open {
    cursor: pointer;
}

.quiz-option-open:hover {
    background-color: var(--option-hover-color);
}

.sub-option {
    background-image: url("../img/sub.png");
}

.special-option {
    background-image: url("../img/special.png");
}

.quiz-correct {
    background-color: var(--option-correct);
}

.quiz-incorrect {
    background-color: var(--option-incorrect);
}

.button {
    color: var(--button-text-color);
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    margin-top: 20px;
    background-color: var(--button-color);
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
}

.button:hover {
    background-color: var(--button-hover-color);
}

.block {
    display: inline-block;
    text-align: center;
    position: relative;
}

.striked {
    text-decoration: line-through;
    color: var(--strikethrough-color);
}

.options-settings {
    margin-top: 5px;
}

.bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: var(--footer-color);
    text-align: center;
    font-size: large;
    height: 2.5em;
    line-height: 2.5em;
}

.bottom-button {
    margin-left: 5px;
}

#quiz-container {
    position: fixed;
    width: 100%;
    max-width: 1450px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    top: auto;
    bottom: min(30vh, 100vh - 605px);
}

#weapon-image {
    margin-left: auto;
    margin-right: auto;
    width: 256px;
    height: 256px;
    background-image: url("../img/main.png");
}

#weapon-name {
    font-size: 2em;
    font-weight: bold;
}

#next-button {
    font-size: 1.7em;
    width: fit-content;
    min-width: 8em;
}

#streak-tracker {
    font-size: 1.2em;
    margin-top: 10px;
}

#settings-button {
    font-size: 1.2em;
    max-width: 130px;
}

#tooltip {
    position: absolute;
    background-color: var(--tooltip-background);
    color: var(--tooltip-text);
    padding: 4px 10px 5px 10px;
    border-radius: 10px;
    z-index: 2;
}

#settings-overlay {
    position: fixed;
    display: none;
    background-color: var(--settings-window-color);
    color: var(--settings-text-color);
    width: 15%;
    height: 80%;
    min-width: 15em;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    padding: 15px;
    border-radius: 25px;
    overflow-y: auto;
}

#close-settings-button {
    position: absolute;
    width: max-content;
    bottom: 2em;
    left: 50%;
    transform: translateX(-50%);
}